body{
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: #e6ffff;
	
}
h1{
	/*display: block;*/
	/*display:flex;*/
	/*width:160px;
	height: 25px;*/
	color: brown;
}
.container1{
	
	background-color: #99ccff;
	width: 400px;
	height: 600px;
	/*margin:auto;*/

}
img{
	
}
.container2{
	
	background-color: yellow;
	width: 400px;
	height: 600px;
	/*margin:auto;*/

}

.tooltips{
	width: 300px;
	height: 150px;
}