body{
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: #e6ffff;
	
}
h1{

	color: green;
}
.inputBox1{
	
	background-color: #99ccff;
	width: 400px;
	height: 600px;
	/*margin:auto;*/

}
img{
	width: 250px;
	height: 250px;
	object-position: center;
}
.inputBox2{
	
	background-color: purple;
	width: 400px;
	height: 600px;
	/*margin:auto;*/

}
p{
	color:orange;
	font-family: sans-serif;
	text-decoration: underline;
}
h4{
	color:red;
	font-weight: 500;
	font-family: "Courier New",monospace;

}
.tooltips{
	width: 300px;
	height: 155px;
	border-style: dotted;
}
span{
	color:blue;
	background-color: lightgreen;
}